.vector-16, .vector-16 * { box-sizing: border-box; }.vector-16 {position: relative; overflow: visible; position: absolute; right: 
    0; top: -150px; z-index: -2;}
.vector-17, .vector-17 * { box-sizing: border-box; }.vector-17 {position: relative; overflow: visible; position: absolute; left: 
    -100px; top: -80px; z-index: -6;}
